*,
.container-fluid {
  padding: 0;
  margin: 0;
}
.navbar-brand {
  padding-left: 20px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e4dff77d;
}

.navbar-toggler {
  margin-block-end: auto;
}
.navbar {
  /* background-color: #edf0ffab; */
  background-image: linear-gradient(#140065, rgb(21, 37, 213));
  padding-inline-start: 10px;
  margin: 0px;
  padding: 0%;
}
.navbar-brand,
.nav-link {
  color: black;
  display: f;
}
.navbar-brand,
.nav-link :active,
.nav-link :hover {
  color: black;
}

#heading {
  padding: 5px;
  background-color: aqua;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: end;
    margin-right: 5%;
  }
}

.nav-link {
  color: #f6f6f6;

  font-weight: bold;
  padding: 15px 35px;
}
.nav-link:hover,
.nav-link:active {
  color: #e6e9ec;
  background-color: #074eb8;
  font-size: large;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: #e6e9ec;
}
.heading {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 25px;
  background: #ffffff;
  box-shadow: 0px 3px 8px 2px #1a0082;
  border-radius: 0px 70px 0px 0px;
  text-align: center;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: #1a0082;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 40px;
}
.pgicon img {
  width: 50px;
  height: 50px;
}

.row {
  justify-content: center;
}

.content {
  background: #f9f9fd;
  border: 1px solid #747480;
  box-shadow: 2px 2px 10px 2px #747480;
  padding: 30px 70px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


table {
  border: none
}
th,
td {
  border:none;
  text-align: center;
  padding: 15px;
  align-content: space-between;
  font-weight: bold;
}

button {
  height: 30px;
  text-align: center;
  width: 100px;
  color: #1a0082;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  border-radius: 5px;
}
p {
  text-align: center;
}
.contain {
  text-align: center;
}

input {
  width: 120%;
  padding: 2px;
  border: 1px solid grey;
  border-radius: 3px;
}